# listas

# List

In [172]:
'''
Definição: Uma coleção ordenada e mutável de itens. Os itens são separados por vírgulas e envolvidos por colchetes [].
Características Principais:
Ordenadas: A ordem dos elementos é preservada.
Mutáveis: É possível adicionar, remover e modificar elementos após a criação.
Permitem Duplicatas: Uma lista pode conter múltiplos elementos com o mesmo valor.
Indexadas: Os elementos são acessados por um índice (começando em 0).
Podem Conter Diferentes Tipos de Dados: Uma única lista pode armazenar elementos de tipos diversos.
'''

'\nDefinição: Uma coleção ordenada e mutável de itens. Os itens são separados por vírgulas e envolvidos por colchetes [].\nCaracterísticas Principais:\nOrdenadas: A ordem dos elementos é preservada.\nMutáveis: É possível adicionar, remover e modificar elementos após a criação.\nPermitem Duplicatas: Uma lista pode conter múltiplos elementos com o mesmo valor.\nIndexadas: Os elementos são acessados por um índice (começando em 0).\nPodem Conter Diferentes Tipos de Dados: Uma única lista pode armazenar elementos de tipos diversos.\n'

In [11]:
array_numero = [1,2,3]
array_floats = [56.3, -2.2,0.5]
array_str = ["A", "B", "C"]
array_misto =[2,2.3, "ABC"]
print(array_numero)
print(array_floats)
print(array_str)
print(array_misto)

[1, 2, 3]
[56.3, -2.2, 0.5]
['A', 'B', 'C']
[2, 2.3, 'ABC']

In [15]:
color = [1,2,
         3,
         4,5]
print(color)

[1, 2, 3, 4, 5]

In [7]:
array = list([1,2,3])
print(array)
primeiro_elemento = array[0]
print(primeiro_elemento)
array[0] = 20
primeiro_elemento = array[0]
print(primeiro_elemento)
print(array[-1])
print(array)

[1, 2, 3]
1
20
3
[20, 2, 3]

In [8]:
array =[1,"texto",3]
print(array[1:3])

['texto', 3]

In [46]:
array = [10,2.3,20,"3"]
array.remove(10)
print(array)
array.insert(2,"4")
print(array)

[2.3, 20, '3']
[2.3, 20, '4', '3']

In [56]:
array  = [10,2,3,20,"3"]
array.remove(10)
print(array)
array.pop(2)
print(array)
# remove(valor) → Remove o primeiro valor encontrado na lista
# pop(índice) → Remove o valor que está na posição indicada

[2, 3, 20, '3']
[2, 3, '3']

In [52]:
print(len(array))

3

In [178]:
array.clear()
print(array)
#clear - limpa a lista.

[]

In [62]:
array = [1, 'teste', 1.3, True]
print(1 in array)
print(False not in array)

True
True

In [180]:
lista = [5,6,7,2,3,4,7]
teste = lista.count(7)
print(teste)
#lista.count(valor) → Retorna o número de vezes que o valor aparece na lista.

2

In [182]:
lista = [5,6,7,2,3,4,7]
pos = lista.index(5)
print(pos)
#lista.index(valor) → retorna o índice da primeira vez que o valor aparece.

# Se o valor não existir na lista, o Python vai gerar um erro (ValueError).

0

In [68]:
array1 = [1,2,3]
array2 = [3,4,5]
soma = array1 + array2
print(soma)

[1, 2, 3, 3, 4, 5]

In [70]:
array1 = [1,2,3]
mult = array1 * 3
print(mult)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [76]:
numeros = ["um","dois","três"]
x,y,z = numeros
print(x)
print(y)
print(z)

um
dois
três

In [184]:
cores = ["azul","preto","amarelo"]
for x in cores:
  print(x)
# O laço for percorre cada item da lista cores e, em cada iteração, atribui o item a x.
# O comando print(x) exibe a cor correspondente.

azul
preto
amarelo

In [80]:
cores = ["azul","preto","amarelo"]
for i in range(0,len(cores)):
  print(cores[i])

azul
preto
amarelo

In [88]:
cores = ["azul", "preto", "amarelo"]
indice = 0
while (indice <len(cores)):
    print(cores[indice])
    indice += 1

azul
preto
amarelo

In [90]:
# lista aninhada ou lista multidimensional
lista = [[1,2,3] ,[4,5,6] ]
primeira_lista =  lista[0]
segunda_lista = lista[1]
print(primeira_lista)
print(segunda_lista)
primeiro_elemento_primeira_lista = lista[1][1]
print(primeiro_elemento_primeira_lista)

#sempre que houver listas dentro de listas, você precisa usar dois índices:
#O primeiro índice acessa a sublista.
#O segundo índice acessa o elemento dentro da sublista

[1, 2, 3]
[4, 5, 6]
5

# Set

In [174]:
'''
Conjuntos (set)
Definição: Uma coleção não ordenada de itens únicos. Os itens são separados por vírgulas e envolvidos por chaves {}.
Características Principais:
Não Ordenados: A ordem dos elementos não é garantida e pode mudar.
Mutáveis: É possível adicionar e remover elementos após a criação.
Não Permitem Duplicatas: Um conjunto conterá apenas uma ocorrência de cada valor. 
Se você tentar adicionar um valor já existente, ele será ignorado.
Não Indexados: Os elementos não possuem uma ordem específica, portanto, não é possível acessá-los por índice diretamente.
'''

'\nConjuntos (set)\nDefinição: Uma coleção não ordenada de itens únicos. Os itens são separados por vírgulas e envolvidos por chaves {}.\nCaracterísticas Principais:\nNão Ordenados: A ordem dos elementos não é garantida e pode mudar.\nMutáveis: É possível adicionar e remover elementos após a criação.\nNão Permitem Duplicatas: Um conjunto conterá apenas uma ocorrência de cada valor. \nSe você tentar adicionar um valor já existente, ele será ignorado.\nNão Indexados: Os elementos não possuem uma ordem específica, portanto, não é possível acessá-los por índice diretamente.\n'

In [125]:
lista_set = {}
lista2_set = {1,2,3}
lista3_set = set({1,2,3})
print(lista_set)
print(lista2_set)
print(lista3_set)

{}
{1, 2, 3}
{1, 2, 3}

In [111]:
#Por que deu erro?
lista2_set = {1,2,3}
lista2_set[0] = 2
# ❌ set não suporta acesso por índice (como listas)
# sets são coleções **não ordenadas** e **sem índices**
# por isso, lista2_set[0] = 2 dá erro: TypeError: 'set' object does not support item assignment

TypeError: 'set' object does not support item assignment

In [113]:
lista_set = {1,2,3}
lista_set.add(5)
print(lista_set)
lista_set.remove(1)
print(lista_set)

{1, 2, 3, 5}
{2, 3, 5}

In [115]:
lista_set = {1,2,3,4,2} # Cria um set (conjunto) — valores duplicados são ignorados
lista_set.add(1) # Tenta adicionar o número 1 — mas já existe, então nada muda
print(lista_set) # Exibe: {1, 2, 3, 4}

{1, 2, 3, 4}

In [117]:
lista_set = {1,2,3,4}
lista_set.clear()
print(lista_set)

set()

In [119]:
lista_set = {1,2,3,4}
print(len(lista_set)) # conta o número de elementos presentes no set

4

In [121]:
lista_set = {1,2,3,4}
print(5 in lista_set) #averigua se o elemento 5 está presente no set

False

In [123]:
lista_set = {0,2,3,'4', False, 6.1} # Cria um set com tipos mistos (int, str, bool, float)
for item in lista_set: # Percorre e imprime cada item do set (ordem imprevisível)
  print(item)

0
2
3
6.1
4

In [127]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_unido = set1.union(set2) # Une os dois sets sem repetir valores
print(set_unido)

{1, 2, 3, 4}

In [129]:
set1 = {1,2,3}
set2 = {3,4,5,6}
set_unido = set1.union(set2)
print(set_unido)

{1, 2, 3, 4, 5, 6}

In [131]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_inser = set1.intersection(set2)
print(set_inser)

{1, 2, 3}

In [133]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_dif = set2.difference(set1)
print(set_dif)

{4}

# Tuple

In [176]:
'''
Definição: Uma coleção ordenada e imutável de itens. Os itens são separados por vírgulas e geralmente envolvidos por parênteses (). Embora os parênteses sejam opcionais para tuplas com um ou mais itens, é uma boa prática usá-los para clareza.
Características Principais:
Ordenadas: A ordem dos elementos é preservada.
Imutáveis: Uma vez criada, a tupla não pode ter seus elementos alterados (não é possível adicionar, remover ou modificar itens diretamente).
Permitem Duplicatas: Tuplas podem conter múltiplos elementos com o mesmo valor.
Indexadas: Os elementos são acessados por um índice (começando em 0).
Podem Conter Diferentes Tipos de Dados: Similar às listas, tuplas podem armazenar elementos de diferentes tipos.
'''

'\nDefinição: Uma coleção ordenada e imutável de itens. Os itens são separados por vírgulas e geralmente envolvidos por parênteses (). Embora os parênteses sejam opcionais para tuplas com um ou mais itens, é uma boa prática usá-los para clareza.\nCaracterísticas Principais:\nOrdenadas: A ordem dos elementos é preservada.\nImutáveis: Uma vez criada, a tupla não pode ter seus elementos alterados (não é possível adicionar, remover ou modificar itens diretamente).\nPermitem Duplicatas: Tuplas podem conter múltiplos elementos com o mesmo valor.\nIndexadas: Os elementos são acessados por um índice (começando em 0).\nPodem Conter Diferentes Tipos de Dados: Similar às listas, tuplas podem armazenar elementos de diferentes tipos.\n'

In [138]:
#doces = tuple(("chocolate","bom bom", "paçoca"))
doces = ('chocolate','bom bom','paçoca')
print(doces)

('chocolate', 'bom bom', 'paçoca')

In [140]:
nums = ('1','2','3')
print(len(nums))

3

In [142]:
nums = ('1','2','3')
print(nums[2])

3

In [144]:
nums = (1,2,3,4,5,6,7,8)
sub_tupla =  nums[2:4]
print(sub_tupla)

(3, 4)

In [146]:
nums = (1,2,3,4,5,6,7,8)
print(9 in nums)

False

In [148]:
tupla = tuple((10,20,40)) # Cria uma tupla com três elementos
tupla[0] = 20 # ❌ Erro! Tuplas são imutáveis

TypeError: 'tuple' object does not support item assignment

In [150]:
tupla = (6,7,8,9,10,6,6) 
print(tupla.count(6)) # Conta quantas vezes o número 6 aparece na tupla

3

In [152]:
tupla = (5,'3', True, 7234)
pos = tupla.index('3') #.index(valor) retorna o índice da primeira ocorrência do valor informado.
print(pos)

1

In [154]:
tupla = (5,'3', True, 7234)
for x in tupla:
  print(x)

5
3
True
7234

In [10]:
tupla = (5,'3', True, 7234)
for i in range(0, len(tupla)):
  print(tupla[i])

5
3
True
7234

In [160]:
tupla = (5,'3', True, 7234)
indice = 0
while (indice < len(tupla)):
  print(tupla[indice])
  indice += 1

5
3
True
7234

In [166]:
numeros_set = (1,2,3) # Criação de um set (tupla neste caso)
numeros_lista = list(numeros_set)  # Converte a tupla para lista, pois listas são mutáveis
numeros_lista[0] = 12 # Modifica o primeiro elemento da lista
numeros_lista.append("Fim") # Adiciona o valor "Fim" no final da lista
numeros_set = tuple(numeros_lista) # Converte de volta para tupla
print(numeros_set) # Imprime a nova tupla

(12, 2, 3, 'Fim')

# Dictionaries

In [187]:
'''
Definição: Uma coleção não ordenada de pares chave-valor. 
Cada chave é única dentro do dicionário e é usada para acessar o valor correspondente. 
Os pares chave-valor são separados por dois pontos : 
e os itens do dicionário são separados por vírgulas, envolvidos por chaves {}
'''

'\nDefinição: Uma coleção não ordenada de pares chave-valor. \nCada chave é única dentro do dicionário e é usada para acessar o valor correspondente. \nOs pares chave-valor são separados por dois pontos : \ne os itens do dicionário são separados por vírgulas, envolvidos por chaves {}\n'

In [ ]:
#Não Ordenados (até Python 3.6): Em versões anteriores ao Python 3.7, a ordem dos itens não era garantida. A partir do Python 3.7, os dicionários preservam a ordem de inserção dos itens.
#Mutáveis: É possível adicionar, remover e modificar pares chave-valor após a criação.
#Chaves Únicas: Cada chave em um dicionário deve ser única. Se você tentar usar a mesma chave novamente, o valor anterior será substituído.
#Acesso por Chave: Os valores são acessados usando suas respectivas chaves (não por índice).
#Podem Conter Diferentes Tipos de Dados (para valores): Os valores podem ser de qualquer tipo de dado. 
#As chaves geralmente são tipos imutáveis (como strings, números ou tuplas de elementos imutáveis).

In [191]:
idades = {'ana':10 ,'maria': 20, 'joão':34, 'fernando':'indefinido' }
print(idades)

{'ana': 10, 'maria': 20, 'joão': 34, 'fernando': 'indefinido'}

In [197]:
nome_numeros = { 7.1: "sete virgula um", 9.8: "nove virgula oito", 10.43: "dez virgula quarenta e três"}
print(nome_numeros)

{7.1: 'sete virgula um', 9.8: 'nove virgula oito', 10.43: 'dez virgula quarenta e três'}

In [199]:
idades = {'ana':10 ,'maria': 20, 'joão':34, 'fernando':'indefinido' }
print(idades['maria'])
print(idades['fernando'])
idades.get('fernando') # Usando o método 'get' para acessar o valor associado à chave 'fernando'
# A diferença entre get e o acesso direto via [chave] é que o 'get' não gera erro se a chave não existir

20
indefinido

'indefinido'

In [201]:
nome_numeros = { 
    7.1: "sete virgula um", 
    9.8: "nove virgula oito", 
    10.43: "dez virgula quarenta e três"}
print(nome_numeros[7.1])
print(nome_numeros.get(10.43))

sete virgula um
dez virgula quarenta e três

In [203]:
idades = {'ana':10 ,'maria': 20, 'joão':34, 'fernando':'indefinido' }
print("ana" in idades)
print("roberto" not in idades)

True
True

In [207]:
idades = {'ana':10 ,'maria': 20, 'joão':34, 'fernando':'indefinido' }
idades['maria'] = 30 # Alterando diretamente o valor associado à chave 'maria'
idades.update({"joão":40}) # O método update() permite atualizar valores em um dicionário de forma mais flexível. 
#No caso, o comando idades.update({"joão": 40}) altera o valor da chave 'joão' de 34 para 40.
print(idades)

{'ana': 10, 'maria': 30, 'joão': 40, 'fernando': 'indefinido'}

In [211]:
idades = {'ana':10 ,'maria': 20, 'joão':34, 'fernando':'indefinido' }
idades['marcos'] = 90 # Adicionando um novo par chave-valor
idades.pop('ana') # Removendo o par chave-valor com a chave 'ana'
print(idades) 
idades.popitem() # Removendo o último par chave-valor inserido (usando popitem)
print(idades)

{'maria': 20, 'joão': 34, 'fernando': 'indefinido', 'marcos': 90}
{'maria': 20, 'joão': 34, 'fernando': 'indefinido'}

In [227]:
idades = {'ana':10 ,'maria': 20, 'joão':34, 'fernando':'indefinido' }
lista = idades.items()
#O método items() retorna uma "view" que contém todos os pares chave-valor do dicionário. 
#Isso não cria uma lista de verdade, mas uma view, que permite 
#iterar sobre os itens do dicionário sem realmente copiar os dados para uma lista.

print(lista, end='\n\n')
for item in lista:
  print(item[0], item[1])

dict_items([('ana', 10), ('maria', 20), ('joão', 34), ('fernando', 'indefinido')])

ana 10
maria 20
joão 34
fernando indefinido

In [11]:
dados_maria = {
    'sexo' : 'feminino',
    'cpf' : '12345678910',
    'rg' : '19487555'
}
dados_joao = {
    'sexo' : 'masculino',
    'cpf' : '12345678745',
    'rg' : '878164'
}
dados_ana = {
    'sexo' : 'feminino',
    'cpf' : '787846555421',
    'rg' : '820000035'
}

dados_por_nome ={
    'ana' : dados_ana,
    'maria': dados_maria,
    'joao' : dados_joao
}

print(dados_por_nome['joao']['sexo'])

masculino

In [ ]:
dados_por_nome = {
    'ana': {  
        'sexo':'feminino',
        'cpf':'787846555421',
        'rg': '820000035'
    },
    'maria': {
        'sexo' : 'feminino',
        'cpf' : '12345678910',
        'rg' : '19487555'
    },
    'joao': {
        'sexo' : 'masculino',
        'cpf' : '12345678745',
        'rg' : '878164'
    }
}
print(dados_por_nome['ana']['rg'])

#List comprehensions

In [ ]:
#List Comprehension é uma forma concisa e elegante de criar listas em Python. 
#Ao invés de usar loops for tradicionais, podemos construir listas com uma única linha de código, tornando o código mais legível e eficiente.

In [ ]:
#[expressão for item in iterável if condição]

In [175]:
lista = [x for x in range(0,10)]  # Cria lista de 0 a 9
print(lista)
# Saída: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#Mostrar a forma básica de list comprehension com range().

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [177]:
lista = ['1', 'zero', 'Quatro']     # Lista de strings
lista = [x for x in lista]          # Copia cada elemento da lista original
print(lista)
# Saída: ['1', 'zero', 'Quatro']
# Demonstrar que é possível iterar sobre qualquer lista (não só números).

['1', 'zero', 'Quatro']

In [163]:
lista = [x for x in range(1,11) if x % 2 == 0]  # Apenas números pares de 1 a 10
print(lista)
# Saída: [2, 4, 6, 8, 10]
# Introduzir condição (if) dentro de list comprehension.

[2, 4, 6, 8, 10]

In [165]:
lista_aux = [1,5,9]
lista = [x for x in range(1,11) if x not in lista_aux]  # Exclui valores da lista_aux
print(lista)
# Saída: [2, 3, 4, 6, 7, 8, 10]
#Mostrar como remover elementos indesejados durante a criação da lista

[2, 3, 4, 6, 7, 8, 10]

In [167]:
lista = [x for x in range(-10,20) if x <= 10 if x >= 0]  # Números entre 0 e 10
print(lista)
# Saída: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [169]:
lista = [x * 2 for x in range(0,11)]  # Multiplica cada número de 0 a 10 por 2
print(lista)
# Saída: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [171]:
lista = [str(x)[0] for x in range(0,21)]  # Pega o primeiro caractere da versão string
print(lista)
# Saída: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '1', '1', '1', '1', '1', '1', '1', '1', '2', '2']

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '2']

In [173]:
lista = ['negativo' if x < 0 else 'positivo' for x in range(-3, 4)]
print(lista)
# Saída: ['negativo', 'negativo', 'negativo', 'positivo', 'positivo', 'positivo', 'positivo']

['negativo', 'negativo', 'negativo', 'positivo', 'positivo', 'positivo', 'positivo']

# Builtiin

Funções matemáticas

In [10]:
num1 = -10
num2 = 10
print(abs(num1))
print(abs(num2))
print(abs(num1) + abs(num2))
# abs desconsidera o sinal do operando.

10
10
20

In [12]:
maior_valor = max(10,20,30)
print(maior_valor)

30

In [18]:
lista = [-20,1,2.3,3]
print(min(lista))

-20

In [28]:
x = 2
y = 3
print(pow(x,y))

8

In [30]:
import math
print (math.sqrt(25))# raiz quadrada

5.0

In [44]:
print(round(2.4566,2)) # após a vírgula definimos quantas casas decimais deverão ter.

2.46

In [52]:
from math import floor,ceil
print(floor(2.4566)) #arredonda o valor para baixo
print(ceil(2.4566)) #arredonda o valor para cima

2
3

In [56]:
print(divmod(10,4)) #mostra o quociente e o resto.

(2, 2)

Caracteres para Números e Números para Caracteres

In [73]:
numero = 70
caractere = chr(numero)  # chr converte para caractere
print("o número %d é mapeado para o caractere %s" % (numero, caractere))

o número 70 é mapeado para o caractere F

In [103]:
for i in range(1, 100):
    caractere = chr(i)
    print("%d - %s" % (i, caractere), end='\n')

1 - 
2 - 
3 - 
4 - 
5 - 
6 - 
7 - 
8 -
9 -
10 -

11 -
12 -
13 -
14 - 
15 - 
16 - 
17 - 
18 - 
19 - 
20 - 
21 - 
22 - 
23 - 
24 - 
25 - 
26 - 
27 - 
28 -
29 -
30 -
31 -
32 -
33 - !
34 - "
35 - #
36 - $
37 - %
38 - &
39 - '
40 - (
41 - )
42 - *
43 - +
44 - ,
45 - -
46 - .
47 - /
48 - 0
49 - 1
50 - 2
51 - 3
52 - 4
53 - 5
54 - 6
55 - 7
56 - 8
57 - 9
58 - :
59 - ;
60 - <
61 - =
62 - >
63 - ?
64 - @
65 - A
66 - B
67 - C
68 - D
69 - E
70 - F
71 - G
72 - H
73 - I
74 - J
75 - K
76 - L
77 - M
78 - N
79 - O
80 - P
81 - Q
82 - R
83 - S
84 - T
85 - U
86 - V
87 - W
88 - X
89 - Y
90 - Z
91 - [
92 - \
93 - ]
94 - ^
95 - _
96 - `
97 - a
98 - b
99 - c

In [105]:
caractere = "F"
numero = ord(caractere) #ord verificia qual número representa aquele caractere.
print("O caractere %s se mapeia para o número %d" % (caractere, numero))

O caractere F se mapeia para o número 70

Funções de Texto

In [ ]:
texto = "olá, tudo bem?"
print(texto.capitalize()) # o método .capitalize deixa a primeira letra tamanho maíscula.

In [111]:
texto = "IsTo é EstraNHO"
print(texto.lower()) #transforma tudo em minúsculo
print(texto.upper()) #transforma tudo em maiúsculo
print(texto.swapcase()) # inverte maiusculo para minúsculo e vice versa.

isto é estranho
ISTO É ESTRANHO
iStO É eSTRAnho

In [113]:
texto = "Eu sou um ótimo programador python"
print(texto.title()) #transforma em maiúscula as letras de cada palavra.

Eu Sou Um Ótimo Programador Python

In [119]:
texto = "1234567"
print(texto.center(9)) #centraliza o texto acrescentando mais caracteres até chagar 9
print(texto.center(14))#centraliza o texto acrescentando mais caracteres até chagar 14
print(texto.center(14, "-"))#centraliza o texto acrescentando mais caracteres "-"

 1234567
   1234567
---1234567----

In [139]:
texto = "12345678912"
print(texto.startswith("12")) #verifica se o texto inicia com o valor solicitado
print(texto.endswith("12")) #verifica se o texto termina com o valor solicitado

True
True

In [141]:
texto = "me encontra 20 10 5"
pos = texto.find("10") # .find encontra a posição do objeto
print(pos)
pos = texto. find("4") # quando não encontrado ele retorna o valor -1
print(pos)

15
-1

In [143]:
texto = "me encontra 20 10 5"
pos = texto.index("10") # .index  encontra a posição do objeto.
print(pos)
#caso não encontre acarretará em erro.

#Use .find() quando quiser evitar exceções, 
#e .index() quando quiser que o erro pare o programa caso a substring não exista.

15

In [147]:
texto = "ol@ eu sou @ ful@n@"
novo_texto = texto.replace("@","a") # .replace() substitui o valor solicitado.
print(novo_texto)

ola eu sou a fulana

In [ ]:
texto '10,20,30'
print(texto.split(",")) # separa o texto onde indicamos, nesse caso após a vírgula

In [153]:
print("abcde3".isalpha()) #isalpha verifica se o texto é apenas caracteres.

False

In [155]:
print("abc,dE3".isalnum())

False

In [157]:
print("123".isspace()) #verifica se há espaço no texto

False

In [163]:
print("abc".islower()) #verifica se o texto é minúsculo
print("ABC".isupper()) #verifica se o texto é maiúsculo

True
True

Funções para Listas

In [167]:
lista = [5,10,2,1,5,10]
lista.sort() # ordena a lista
print(lista)

[1, 2, 5, 5, 10, 10]

In [175]:
lista = ["x","y","z","w","h"]
lista.sort() # ordena a lista
print(lista)

['h', 'w', 'x', 'y', 'z']

In [179]:
lista = [5,10,2,1,5,10]
lista.sort(reverse = True) # ordena a lista em ordem descrescente
print(lista)

[10, 10, 5, 5, 2, 1]

In [181]:
# Define uma função que recebe um item (string) e retorna seu comprimento
def sort_por_tamanho(item):
    return len(item)  # Retorna o número de caracteres da string

# Cria uma lista de strings com tamanhos variados
lista = ["a", "b", "ab", "de", "abc", "abcd"]

# Ordena a lista com base no comprimento de cada string
# A função sort_por_tamanho será aplicada a cada item como critério de ordenação
lista.sort(key = sort_por_tamanho) # O key=sort_por_tamanho diz: "ordene a lista usando o comprimento de cada item como critério".

# Exibe a lista ordenada pelo tamanho das strings (do menor para o maior)
print(lista)

['a', 'b', 'ab', 'de', 'abc', 'abcd']

In [185]:
# Cria uma lista de listas, onde cada sublista representa um produto e seu valor
produtos = [['carro','R$ 100.000'] ,
            ['cadeira','R$ 1000'] ,
            ['Moto',"R$ 40000"],
            ['geladeira','R$ 20000'],
            ['armário','R$ 1500']]

# Percorre a lista 'produtos', desempacotando cada sublista em 'produto' e 'valor'
for produto, valor in produtos:
    # Exibe o nome do produto e seu valor formatado
    print(produto, valor)

carro R$ 100.000
cadeira R$ 1000
Moto R$ 40000
geladeira R$ 20000
armário R$ 1500

In [187]:
nomes = ('José','Carlos','João')
dicionario = dict.fromkeys(nomes,10) # cria objeto dicionário atribindo 10 para cada elemento da tupla.
print(dicionario)

{'José': 10, 'Carlos': 10, 'João': 10}

Funções de Data e Hora

In [189]:
import datetime
data_completa = datetime.datetime.now()
data = data_completa.date()
hora = data_completa.time()

print(data_completa)
print(data)
print(hora)

2025-05-01 16:25:03.141945
2025-05-01
16:25:03.141945

In [191]:
import datetime
data_completa = datetime.datetime.now()

print("Dia", data_completa.day)
print("Mês", data_completa.month)
print("Ano", data_completa.year)
print("hora", data_completa.hour)
print("minuto", data_completa.second)

Dia 1
Mês 5
Ano 2025
hora 16
minuto 44

In [197]:
import datetime
data = datetime.date(2000, 9,30)
data = datetime.date(day = 30, month = 9, year = 2000)
print(data)

2000-09-30

In [199]:
import datetime
hora = datetime.time(16, 30, 44)
print(hora)

16:30:44

In [203]:
import datetime
# y ano
# m mês
# d dia
# H hora
# M minuto
# S segundo
atual = datetime.datetime.now()
current_time = atual.strftime("%y/%m/%d %H:%M:%S") # O método strftime() em Python é usado para formatar objetos de data e hora (datetime) como strings, de acordo com um formato especificado.
print(current_time)

25/05/01 16:34:34

In [205]:
import datetime
# y ano
# m mês
# d dia
# H hora formato 00-23
# M minuto
# S segundo

# A dia da semana
# a dia da semana abrev.
# B nome do mês
# b nome do mês abrev.
# I hora formato 12 horas
# p AM PM

data = datetime.datetime(2000,9,30,10,30,20)
print(data.strftime("%A  - %a"))
print(data.strftime("%B  - %b"))
print(data.strftime("%H  - %I"))
print(data.strftime("%I  - %p"))

Saturday  - Sat
September  - Sep
10  - 10
10  - AM

# operadores ternários

In [36]:
# %%
esta_chuvendo = False
#o operador ternário permite escrever expressões condicionais de forma mais compacta.

print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chuvendo])
print('Hoje estou com as roupas ' + 
      ('molhadas.' if esta_chuvendo else 'secas.'))

Hoje estou com as roupas secas.
Hoje estou com as roupas secas.

# mais operadores

In [47]:
# %%
# Operador de Membro
lista = [1, 2, 3, 'Ana', 'Carla']
2 in lista
'Ana' not in lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
# %%
# Operador de Membro
lista = [1, 2, 3, 'Ana', 'Carla']
2 in lista
'Ana' not in lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c #nesse último caso a afirmação torna-se verdadeira, pois as listas são diferentes.

True

# builts

In [56]:
#built-in são aquelas já disponíveis sem a necessidade de importar módulos.
#Exemplo:
# type()
type(1)
__builtins__.type('Fala Galera!')
__builtins__.print(10 / 3)

# __builtins__.help(__builtins__.dir)

# a = 7
# import math
# dir()
# dir(__builtins__)


nome = 'João da Silva'
type(nome)
# __builtin__.len(nome)

dir()

3.3333333333333335

['In',
 'Out',
 '_',
 '_1',
 '_10',
 '_11',
 '_13',
 '_15',
 '_17',
 '_19',
 '_2',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_31',
 '_33',
 '_35',
 '_37',
 '_38',
 '_39',
 '_4',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_5',
 '_50',
 '_51',
 '_52',
 '_53',
 '_54',
 '_55',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__pandas',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'dataframe_columns',
 'dataframe_hash',
 'despesas',
 'despesas_controladas',
 'dtypes_str',
 'esta_chuvendo',
 'exit',
 'get_dataframes',
 'get_ipython',
 'getpass',
 'hashlib',
 'import_pandas_safely',
 'is_data_frame',
 'json',
 'lista',
 'lista_a',
 'lista_b',
 'lista_c',
 'mais_saudavel',
 'meta',
 'nome',
 'open',
 'quit',
 'salario',
 'saldo',
 'saldo_positivo',
 'sorvete',
 'trabalho_quinta',
 'trabalho_terca',
 'tv_32',
 'tv_50',
 'x',
 'y',
 'z']

# conversão de tipos

In [73]:
2 + 3
'2' + '3'
 # 2 + '3' (esse caso será dado erro, uma vez que o python não consegue entender aquilo que queremos executar.
#print( 2+ '3')
a= 2
b= '3'
print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)
type(str(a))

# print(2 + int('3.4'))

<class 'int'>
<class 'str'>
5
23

str

# números 1

In [94]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a - b)

b.is_integer()
5.0.is_integer()

dir(int)
int.__add__(2, 3)
2 + 3

(-2).__abs__()
abs(-2)

(-3.6).__abs__()
dir(float)
abs(-3.6)

3.6

# números 2

In [114]:
import decimal
from decimal import Decimal, getcontext
1.1 + 2.2
Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
dir(Decimal)
dir()

['Decimal',
 'In',
 'Out',
 '_',
 '_1',
 '_10',
 '_101',
 '_102',
 '_103',
 '_104',
 '_105',
 '_107',
 '_108',
 '_109',
 '_11',
 '_110',
 '_111',
 '_112',
 '_113',
 '_13',
 '_15',
 '_17',
 '_19',
 '_2',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_31',
 '_33',
 '_35',
 '_37',
 '_38',
 '_39',
 '_4',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_5',
 '_50',
 '_51',
 '_52',
 '_53',
 '_54',
 '_55',
 '_56',
 '_57',
 '_58',
 '_59',
 '_60',
 '_61',
 '_62',
 '_64',
 '_66',
 '_68',
 '_7',
 '_70',
 '_72',
 '_73',
 '_74',
 '_75',
 '_76',
 '_77',
 '_78',
 '_79',
 '_8',
 '_80',
 '_81',
 '_82',
 '_83',
 '_84',
 '_85',
 '_86',
 '_87',
 '_88',
 '_89',
 '_90',
 '_91',
 '_92',
 '_93',
 '_94',
 '_95',
 '_96',
 '_97',
 '_99',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__pandas',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'dataframe_columns',
 'dataframe_hash',
 'decimal',
 'despesas',
 'despesas_controladas',
 'dtypes_str',
 'esta_chuvendo',
 'exit',
 'get_dataframes',
 'get_ipython',
 'getcontext',
 'getpass',
 'hashlib',
 'import_pandas_safely',
 'is_data_frame',
 'json',
 'lista',
 'lista_a',
 'lista_b',
 'lista_c',
 'mais_saudavel',
 'meta',
 'nome',
 'open',
 'quit',
 'salario',
 'saldo',
 'saldo_positivo',
 'sorvete',
 'trabalho_quinta',
 'trabalho_terca',
 'tv_32',
 'tv_50',
 'x',
 'y',
 'z']

# STRING

In [149]:
dir(str)
nome = 'Saulo Pedro'
nome[0]
# nome[0] = 'P'

# 'marca d'água'
"Dias D'Avila" == 'Dias D\'Avila'
"Teste \" funciona!"
texto = 'Texto entre apostrófos pode ter "aspas"'
texto

doc = """Texto com múltiplas
    ... linhas"""
doc

print('Texto com múltiplas\n\t... linhas')
print(doc)

doc2 = '''Também é possível
... com 3 aspas simples'''
doc2

# %%
nome = 'Ana Paula'
nome[0]
nome[6]
nome[-3]
nome[-5:]
nome[:3]
nome[2:5]

numeros = '1234567890'
numeros
numeros[::]
numeros[::2]
numeros[1::2]
numeros[::-1]
numeros[::-2]

nome[::-1]

# %%
frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase)
frase.lower()
frase
frase = frase.upper()
frase

frase.split()
frase.split('E')

# dir(str)
# help(str.center)

# %%
a = '123'
b = ' de Oliveira 4'
a + b
a.__add__(b)
str.__add__(a, b)

len(a)
a.__len__()
'1' in a
a.__contains__('1')

dir(str)

Texto com múltiplas
	... linhas
Texto com múltiplas
    ... linhas

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']